@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.navbar{
    position: fixed;
    background:rgb(235, 203, 203);
    width: 100%;
    height: 15vh;
    box-shadow: 0px 10px 5px -3px rgba(0, 0, 0, 0.2);
    z-index: 5;
    top: 0;
}

.barra_logo{
    width: 100%;
    height: 10vh;
    background:#FF8787;
    position: relative;
}

.barra_logo img{
    position: absolute;
    height: 100%;
}

.items{
    background:#E26868;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
}

.item{
    list-style:none;
}

.item a{
    text-decoration:none;
    color: #D8D9CF;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}

.item a:hover{
    color: black;
}

/*-------- CAROUSEL ------------*/

.container_carousel{
    margin: 15vh 0 100px 0;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}

.espacio_imagenes_carousel{
    width: 60%;
    height: 500px;
    overflow: hidden;
    display: flex;
    object-fit: cover;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border-radius: 5px;
}

.espacio_imagenes_carousel div{
    scroll-snap-align: start;
    height: 500px;
    width: 1000px;
}

.espacio_imagenes_carousel div a img{
    height: 500px;
    width: 1000px;
    object-fit:cover;
}

/*-------- CAROUSEL ------------*/

.container_destacados{
    margin: 2.5vh 7.5% 100px 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    height: 40vh;
}

.propiedad_destacada{
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.propiedad_destacada:hover{
    cursor: pointer;
}

.propiedad_destacada img{
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    width: 100%;
    height: 200px;
    transition: 0.5s ease;
}

.propiedad_destacada div{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.propiedad_destacada img:hover{
    scale: 1.05;
}

.propiedad_destacada p,h3{
    margin:0 20px;
}

.propiedad_destacada p{
    color: rgb(151, 150, 150);
    font-weight: 300;
    margin-top: 15px;
}

.propiedad_destacada h3{
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: 700;
}
/* Santino */
.container_sedes{
    margin-top: 20vh;
    margin-bottom: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 60vh;
}

.sedes{
    list-style: none;
    height: 400px;
    width: 270px;
}


.footer{
    background:#FF8787;
    width: 100%;
    height: 20vh;
    border: 1px solid black;
    position: relative;
}

.container_redes{
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    bottom: 0px;
    height: 50px;
    width: 200px;
    margin: 0 40%;
}

.container_redes img{
    height: 50px;
    aspect-ratio: 1;
}

/*----------------------------------------- CONTACTO -------------------------------------------*/

.FAQ{
    margin-top: 20vh;
    width: 100%;
    background:#EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5vh 0;
}

.container_dropdown{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dropdown_text{
    display: none;
    text-align: center;
    font-size: 1.5rem;
    margin:10px 0;
}

.checkbox_button{
    width:auto;
    height: 7.5vh;
    font-size: 2rem;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(-5%);
}

.checkbox_button:hover{
    cursor: pointer;
}

.checkbox_button img{
    position: absolute;
    right: -50px;
    height: 30px;
    width: 30px;
    transition: 0.5s;
    transform: rotate(-180deg);
}

#pregunta1,#pregunta2,#pregunta3{
    display: none;
}

#pregunta1:checked ~ .dropdown_text, #pregunta2:checked ~ .dropdown_text, #pregunta3:checked ~ .dropdown_text{
    display: block;
}

#pregunta1:checked ~ .checkbox_button img,#pregunta2:checked ~ .checkbox_button img,#pregunta3:checked ~ .checkbox_button img{
    transition: 0.5s;
    transform: rotate(-0deg);
}

/*------- Parte Dueños ----------*/

.owners_container{
    width: 100%;
    padding:5vh 0;
    display: flex;
    justify-content: space-around;
}

.owner_section{
    padding: 25px 0;
    width: 25vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.owner_section img{
    width: 90%;
}

.owner_section h2{
    text-align: center;
    margin: 10px 0;
    width: 90%;
}

.owner_section p{
    text-align: center;
    margin: 10px 0;
    width: 90%;
}

/*------------ FORM ---------------*/

.form_container{
    background: beige;
    width: 100%;
    height: 80vh;
    padding:5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container h2{
    padding-bottom: 25px;
}

.form{
    font-size: 1.25rem;
    width: 60%;
    height: 50vh;
    border-radius: 15px;
    box-shadow: 1px 3px 55px 5px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_columns-container{
    display: flex;
    width: 100%;
}

.form_column{
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 10%; /* SOLO PARA CENTRAR TEMPORANEAMENTE */
    width: 50%;
}

.form_column label{
    margin-bottom:2px;
}

.form_column input,.form_column select{
    width: 250px;
    margin-bottom: 15px;
}

.form_message{
    display: flex;
    flex-direction: column;
    width: 77.5%;
}

.form_message textarea{
    resize: none;
}

.form_button{
    width: 100px;
}

/* ------------------------------- FIN CONTACTO ------------------------------------*/

/* --------------------------- INICIO PROPIEDADES ----------------------------------*/

.container_propiedades{
    margin-top: 20vh;
    width: 100%;
    display: flex;
    background:#EDEDED;
}

.container_categorias{
    width: 15%;
    background:#dfdfdb;
}

.propiedades{
    margin:5vh 2.5%;
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.propiedad{
    margin: 25px 1.5vw;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
}

/* ----------------------------- FIN PROPIEDADES -----------------------------------*/